openapi: 3.2.0
info:
  title: Axuall Providers API
  version: 2.144.89
servers:
- url: https://api.axuall.net
tags:
- name: Providers
paths:
  /v2/provider_preview:
    get:
      tags:
      - Providers
      summary: Provider Preview
      description: 'Instantly retrieve available information for a clinician.


        This can include qualified name, state licenses, dea licenses, and ABMS board certifications

        for Physicians.


        Please note this information is subject to availability and not always comprehensive.


        Only NPIs belonging to an individual clinician are supported. Organizational NPIs and

        deactivated NPIs are rejected with a 400.'
      operationId: provider_preview_v2_provider_preview_get
      security:
      - HTTPBearer: []
      parameters:
      - name: npi
        in: query
        required: true
        schema:
          type: string
          description: The NPI of the practitioner
          title: Npi
        description: The NPI of the practitioner
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: '

            Successfully retrieved a complete or partial response for the clinician''s NPI

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderPreviewSchema'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/provider_prefill:
    get:
      tags:
      - Providers
      summary: Provider Prefill
      operationId: provider_prefill_v2_provider_prefill_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: query
        required: true
        schema:
          type: string
          description: Provider identifier value
          title: Provider Id
        description: Provider identifier value
      - name: id_type
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/ProviderPrefillIdType'
          description: Identifier type
        description: Identifier type
      - name: include_facilities
        in: query
        required: false
        schema:
          type: boolean
          default: false
          title: Include Facilities
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Invite prefill payload from existing clinician or NPPES fallback
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderPrefillSchema'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers:
    get:
      tags:
      - Providers
      summary: List Providers
      description: 'List available providers with the ability to search and filter to help find a provider.


        Provide as many of the optional query parameters as possible in order to narrow the results.'
      operationId: list_providers_v2_providers_get
      security:
      - HTTPBearer: []
      parameters:
      - name: name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          examples: Jane Smith
          title: Name
      - name: provider_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          examples: '1730051129'
          title: Provider Id
      - name: state_license_number
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          examples: PA12345
          title: State License Number
      - name: dea_license_number
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          examples: R12345
          title: Dea License Number
      - name: date_of_birth
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^[0-1][0-9]-[0-3][0-9]-[1-2][0-9]{3}
          - type: 'null'
          examples: 04-30-1990
          title: Date Of Birth
      - name: provider_type
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          examples: Osteopathic Physician (DO)
          title: Provider Type
      - name: registration_status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/RegistrationStatus'
          - type: 'null'
          description: Registration status of provider
          examples: account_shared
          title: Registration Status
        description: Registration status of provider
      - name: invitation_status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/InvitationStatus'
          - type: 'null'
          description: Invitation status of provider
          examples: invitation_sent
          title: Invitation Status
        description: Invitation status of provider
      - name: id_verified
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/IDVerifiedStatus'
          - type: 'null'
          description: The status of ID Verification of the provider
          examples: complete
          title: Id Verified
        description: The status of ID Verification of the provider
      - name: app_req_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          description: UUID of app_req_id of provider
          examples: f472da53-adee-4e5f-b59d-b2a51b63859a
          title: App Req Id
        description: UUID of app_req_id of provider
      - name: app_req_status
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/AppReqStatus'
          - type: 'null'
          description: The status of app_reqs to be returned/filtered. If None, returns app reqs with all statuses.
          examples: active
          title: App Req Status
        description: The status of app_reqs to be returned/filtered. If None, returns app reqs with all statuses.
      - name: min_last_wallet_shared
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Min timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber.
          examples: '2026-09-24T18:57:41.591510Z'
          title: Min Last Wallet Shared
        description: Min timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber.
      - name: max_last_wallet_shared
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Max timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber.
          examples: '2026-09-25T18:57:41.591542Z'
          title: Max Last Wallet Shared
        description: Max timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber.
      - name: min_last_share_refresh
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Min timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import.
          examples: '2026-09-24T18:57:41.591565Z'
          title: Min Last Share Refresh
        description: Min timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import.
      - name: max_last_share_refresh
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Max timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import.
          examples: '2026-09-25T18:57:41.591588Z'
          title: Max Last Share Refresh
        description: Max timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import.
      - name: min_last_task_completed_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Min timestamp, in UTC, of the last time a provider's task was completed.
          examples: '2026-09-24T18:57:41.591610Z'
          title: Min Last Task Completed At
        description: Min timestamp, in UTC, of the last time a provider's task was completed.
      - name: max_last_task_completed_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Max timestamp, in UTC, of the last time a provider's task was completed.
          examples: '2026-09-25T18:57:41.591632Z'
          title: Max Last Task Completed At
        description: Max timestamp, in UTC, of the last time a provider's task was completed.
      - name: min_last_updated
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Min timestamp, in UTC, of the last time a provider's credentials were updated.
          examples: '2026-09-24T18:57:41.591654Z'
          title: Min Last Updated
        description: Min timestamp, in UTC, of the last time a provider's credentials were updated.
      - name: max_last_updated
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Max timestamp, in UTC, of the last time a provider's credentials were updated.
          examples: '2026-09-25T18:57:41.591676Z'
          title: Max Last Updated
        description: Max timestamp, in UTC, of the last time a provider's credentials were updated.
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page offset
          default: 0
          title: Offset
        description: Page offset
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page limit. Use -1 to disable pagination.
          default: 50
          title: Limit
        description: Page limit. Use -1 to disable pagination.
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Successfully retrieved a list of possible matches based on query parameters.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderSearchResult'
                title: Response List Providers V2 Providers Get
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Providers
      summary: Register Provider
      description: 'Register a new provider with Axuall.

        If kicked off in un-engaged mode, this will trigger all possible verifications

        based on the supplied information and the chosen recipe.


        Either a NPI or NCSBN is required.'
      operationId: register_provider_v2_providers_post
      security:
      - HTTPBearer: []
      parameters:
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderRegistrationRequestSchema'
      responses:
        '200':
          description: Instantiation request received.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_ProviderRegistrationMessage_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}:
    get:
      tags:
      - Providers
      summary: Get Provider
      description: Provides identifying information for a provider
      operationId: get_provider_v2_providers__provider_id__get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Provider's profile information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderProfile'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/files:
    get:
      tags:
      - Providers
      summary: List Provider Files
      description: 'Returns all accessible files for a provider which can be downloaded.


        All links expire after 30 minutes'
      operationId: list_provider_files_v2_providers__provider_id__files_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderFile'
                title: Response List Provider Files V2 Providers  Provider Id  Files Get
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/verified_share:
    get:
      tags:
      - Providers
      summary: Get Provider Verified Share
      description: 'The Verified Profile endpoint allows for retrieval of the latest verified data for a

        specific provider that has granted your organization access.


        Query Parameters:

        format: Optional output format. Supported values:

        - credential_stream: Apply field transformations and institution mappings

        - (none): Return data without transformations'
      operationId: get_provider_verified_share_v2_providers__provider_id__verified_share_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: format
        in: query
        required: false
        schema:
          type: string
          description: Output format (credential_stream)
          title: Format
        description: Output format (credential_stream)
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_ShareData_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/changes:
    get:
      tags:
      - Providers
      summary: List Provider Credential Changes
      description: Allows for retrieval of credential changes between two dates for a provider.
      operationId: list_provider_credential_changes_v2_providers__provider_id__changes_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: min_presented_at
        in: query
        required: true
        schema:
          type: string
          format: date
          description: Earliest date (UTC), inclusive, in range to check for changes to credentials.
          examples: '2026-09-18'
          title: Min Presented At
        description: Earliest date (UTC), inclusive, in range to check for changes to credentials.
      - name: max_presented_at
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Latest date (UTC), inclusive, in range to check for changes to credentials. If blank, then today's date.
          examples: '2026-09-25'
          title: Max Presented At
        description: Latest date (UTC), inclusive, in range to check for changes to credentials. If blank, then today's date.
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Changes'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/assign_task:
    post:
      tags:
      - Providers
      summary: Assign Task
      description: Assigns a task to a provider.
      operationId: assign_task_v2_providers__provider_id__assign_task_post
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTaskRequestSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_AssignTaskMessage_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/cancel_task:
    post:
      tags:
      - Providers
      summary: Cancel Task
      description: Cancel an assigned task for a provider.
      operationId: cancel_task_v2_providers__provider_id__cancel_task_post
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTaskRequestSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_AssignTaskMessage_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/workflows:
    post:
      tags:
      - Providers
      summary: Assign Workflow
      description: 'The Assign Workflow endpoint allows for a providers workflow status to be updated.

        Updating it, changes the status to pending.


        Workflow is the set of requirements for the provider to successfully complete their

        credentialing needs for a subscriber group.'
      operationId: assign_workflow_v2_providers__provider_id__workflows_post
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignWorkflowRequestSchema'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_AssignWorkflowMessage_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/deactivation:
    post:
      tags:
      - Providers
      summary: Deactivate Clinician
      description: 'The Deactivate Clinician endpoint takes a provider and marks them as

        pending_deactivation for the deactivations workflow'
      operationId: deactivate_clinician_v2_providers__provider_id__deactivation_post
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '202':
          description: The clinician was set to be deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeactivationSchema'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/attested_reqirements:
    get:
      tags:
      - Providers
      summary: List Attested Requirements
      description: Retrieve all available Attested Requirement Configurations that are configured for a clinician.
      operationId: list_attested_requirements_v2_providers__provider_id__attested_reqirements_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Successfully fetched attested req list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_AttestedRequirementSchema_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/providers/{provider_id}/facilities:
    get:
      tags:
      - Providers
      summary: List Provider Facilities
      description: Retrieve available facilities where a clinician can be privileged.
      operationId: list_provider_facilities_v2_providers__provider_id__facilities_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Successfully fetched providers facilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response_FacilitiesSchema_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - Providers
      summary: Enroll Provider
      description: Enroll or unenroll a provider to/from facilities based on the provided data.
      operationId: enroll_provider_v2_providers__provider_id__facilities_post
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          title: Provider Id
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityEnrollmentSchema'
      responses:
        '202':
          description: Enrollment Request Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityEnrollmentReponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    PayerEnrollmentStatusMedicareHHA:
      properties:
        verified.participation_reported.active:
          type: boolean
          title: Verified.Participation Reported.Active
        verified.participation_reported.artifact:
          anyOf:
          - type: string
            maxLength: 2083
            minLength: 1
            format: uri
            title: Axuall Credential Artifact
            description: Expiring link to download evidence for a credential
            example: https://axuall-primary-source-artifacts.s3.amazonaws.com/s3%3A//axuall-primary-source-artifacts/2022-12-07/2d4bd584-3a08-436e-85e2-bf0491d16061.pdf?...
          - type: 'null'
          title: Verified.Participation Reported.Artifact
        verified.participation_reported.meta:
          $ref: '#/components/schemas/MetaData'
        verified.participation_reported.dispute_details:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Participation Reported.Dispute Details
        external_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: External File Name
          description: Stored custom name of document as defined by the subscriber group
        readable_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Readable File Name
          description: Client determined file naming convention
      type: object
      required:
      - verified.participation_reported.active
      - verified.participation_reported.artifact
      - verified.participation_reported.meta
      title: PayerEnrollmentStatusMedicareHHA
    CDSLicense:
      properties:
        verified.cds.number:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cds.Number
          description: The Controlled Dangerous Substances license number
          example: '2501234'
        verified.cds.expiration_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cds.Expiration Date
          description: The expiration date of the CDS license of the practitioner
          example: '2027-01-01'
        verified.cds.issue_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cds.Issue Date
          description: The issue date of the CDS license of the practitioner
          example: '2022-02-20'
        verified.cds.state:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cds.State
          description: 'The issuing state of the CDS license of the practitioner '
          example: OH
        verified.cds.institution:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cds.Institution
          description: The licensing institution of the CDS license
          example: Ohio State Board of Pharmacy
        verified.cds.artifact:
          anyOf:
          - type: string
            maxLength: 2083
            minLength: 1
            format: uri
            title: Axuall Credential Artifact
            description: Expiring link to download evidence for a credential
            example: https://axuall-primary-source-artifacts.s3.amazonaws.com/s3%3A//axuall-primary-source-artifacts/2022-12-07/2d4bd584-3a08-436e-85e2-bf0491d16061.pdf?...
          - type: 'null'
          title: Verified.Cds.Artifact
        verified.cds.meta:
          anyOf:
          - $ref: '#/components/schemas/MetaData'
          - type: 'null'
        verified.cds.dispute_details:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cds.Dispute Details
        attested.cds.number:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Cds.Number
          description: The CDS license number as attested to by the practitioner
          example: '2501234'
        attested.cds.state:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Cds.State
          description: State of the CDS license as attested to by the practitioner
          example: OH
        attested.cds.institution:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Cds.Institution
          description: The licensing institution of the CDS license as attested to by the practitioner
          example: Ohio State Board of Pharmacy
        attested.cds.meta:
          anyOf:
          - $ref: '#/components/schemas/AttestedMetaData'
          - type: 'null'
        external_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: External File Name
          description: Stored custom name of document as defined by the subscriber group
        readable_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Readable File Name
          description: Client determined file naming convention
      type: object
      title: CDSLicense
      description: 'Controlled Dangerous Substance (CDS) License information.


        This information has been verified against the pertinent CDS website.'
    ProviderPrefillSchema:
      properties:
        source:
          $ref: '#/components/schemas/ProviderPrefillSource'
        demographics:
          $ref: '#/components/schemas/ProviderPrefillDemographicsSchema'
        identifiers:
          $ref: '#/components/schemas/ProviderPrefillIdentifiersSchema'
        facilities:
          items:
            $ref: '#/components/schemas/FacilitySchema'
          type: array
          title: Facilities
          default: []
      type: object
      required:
      - source
      - demographics
      - identifiers
      title: ProviderPrefillSchema
    GenericErrorSchema:
      properties:
        detail:
          type: string
          title: Detail
          example: The request could not be completed because...
      type: object
      required:
      - detail
      title: GenericErrorSchema
    Reference:
      properties:
        attested.references.id:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.Id
          description: The unique identifier for this reference record. Store it to match this record on a later share.
        attested.references.first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.First Name
          description: The first name of the practitioner's reference
          default: ''
          example: Jayne
        attested.references.last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.Last Name
          description: The last name of the practitioner's reference
          default: ''
          example: Doe
        attested.references.type:
          anyOf:
          - $ref: '#/components/schemas/ReferenceType'
          - type: 'null'
          description: The provider type of the practitioner's reference
          default: ''
          example: peer
        attested.references.email:
          anyOf:
          - type: string
            format: email
          - {}
          - type: 'null'
          title: Attested.References.Email
          description: The email of the practitioner's reference
          default: ''
          example: jayne.reliable@health.com
        attested.references.phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.Phone Number
          description: The phone number of the practitioner's reference
          default: ''
          example: '6153675555'
        attested.references.role:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.Role
          description: The role of the practitioner's reference
          default: ''
          example: Department Chair
        attested.references.evaluator_organization:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.Evaluator Organization
          description: The organization of the practitioner's reference
          default: ''
          example: Health System USA
        attested.references.occupation_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.References.Occupation Code
          description: The occupation code of the practitioner's reference
          default: ''
          example: DO
        attested.references.meta:
          anyOf:
          - $ref: '#/components/schemas/AttestedMetaData'
          - type: 'null'
          description: Meta data of attested reference
      type: object
      title: Reference
    MalpracticePolicy:
      properties:
        insurer_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Insurer Name
          description: The name of the insurance company through which insurance is obtained.
          default: N/A
        external_institution_code:
          anyOf:
          - type: string
          - type: 'null'
          title: External Institution Code
          description: External institution code for the insurance carrier from the external system.
        policy_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Policy Number
          description: The policy number for the insurance.
          default: N/A
        original_effective_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Original Effective Date
          description: The retroactively effective date for the insurance.
          default: N/A
        effective_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Effective Date
          description: The effective date for the insurance.
          default: N/A
        expiration_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Expiration Date
          description: The date on which malpractice insurance will expire.
          default: N/A
        occurence_coverage:
          anyOf:
          - type: string
          - type: 'null'
          title: Occurence Coverage
          description: The dollar amount of coverage per occurence.
          default: N/A
        aggregate_coverage:
          anyOf:
          - type: string
          - type: 'null'
          title: Aggregate Coverage
          description: The total dollar amount of coverage.
          default: N/A
        document:
          anyOf:
          - type: string
          - type: 'null'
          title: Document
          description: The url for the malpractice insurance facesheet image.
        attested.malpractice.id:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Malpractice.Id
          description: The unique identifier for this malpractice policy record. Store it to match this record on a later share.
        id:
          anyOf:
          - type: string
          - type: 'null'
          title: Id
          description: 'Deprecated: use `attested.malpractice.id`, which carries the same value. The unique identifier for this malpractice policy. Used to associate this policy to specific work history records.'
          deprecated: true
        attested_meta:
          anyOf:
          - $ref: '#/components/schemas/AttestedMetaData'
          - type: 'null'
          description: Meta data of attested malpractice policy
        attested_status:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested Status
          description: Status of the attested data
        attested_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested Source
          description: Source of the attested data
      type: object
      title: MalpracticePolicy
    Disclosures:
      properties:
        attested.caqh|licensure.revoked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Licensure.Revoked
          description: Practitioners attestation with regards to license revocation.
          example: false
        attested.caqh|licensure.revoked.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Licensure.Revoked.Explanation
          description: ''
          example: ''
        attested.caqh|licensure.revoked.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|licensure.challenged:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Licensure.Challenged
          description: Practitioners attestation with regards to challenges of their license(s).
          example: false
        attested.caqh|licensure.challenged.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Licensure.Challenged.Explanation
          description: ''
          example: ''
        attested.caqh|licensure.challenged.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|privileges.revoked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Privileges.Revoked
          description: Practitioners attestation with regards to privilege revocation.
          example: false
        attested.caqh|privileges.revoked.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Privileges.Revoked.Explanation
          description: ''
          example: ''
        attested.caqh|privileges.revoked.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|privileges.surrendered:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Privileges.Surrendered
          description: Practitioners attestation with regards to surrendering of privileges.
          example: false
        attested.caqh|privileges.surrendered.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Privileges.Surrendered.Explanation
          description: ''
          example: ''
        attested.caqh|privileges.surrendered.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|privileges.terminated:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Privileges.Terminated
          description: Practitioners attestation with regards to termination of privileges.
          example: false
        attested.caqh|privileges.terminated.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Privileges.Terminated.Explanation
          description: ''
          example: ''
        attested.caqh|privileges.terminated.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|education.probation:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Education.Probation
          description: Practitioners attestation with regards to probation actions taken during education.
          example: false
        attested.caqh|education.probation.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Education.Probation.Explanation
          description: ''
          example: ''
        attested.caqh|education.probation.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|education.withdrawn:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Education.Withdrawn
          description: Practitioners attestation with regards to voluntary withdrawal from education.
          example: false
        attested.caqh|education.withdrawn.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Education.Withdrawn.Explanation
          description: ''
          example: ''
        attested.caqh|education.withdrawn.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|education.revoked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Education.Revoked
          description: Practitioners attestation with regards to board certification revocation.
          example: false
        attested.caqh|education.revoked.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Education.Revoked.Explanation
          description: ''
          example: ''
        attested.caqh|education.revoked.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|education.surrendered:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Education.Surrendered
          description: Practitioners attestation with regards to surrendering of board certification.
          example: false
        attested.caqh|education.surrendered.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Education.Surrendered.Explanation
          description: ''
          example: ''
        attested.caqh|education.surrendered.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|dea.revoked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Dea.Revoked
          description: Practitioners attestation with regards to revocation of DEA License.
          example: false
        attested.caqh|dea.revoked.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Dea.Revoked.Explanation
          description: ''
          example: ''
        attested.caqh|dea.revoked.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|medicare.excluded:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Medicare.Excluded
          description: Practitioners attestation of whether or not they are excluded from federal programs.
          example: false
        attested.caqh|medicare.excluded.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Medicare.Excluded.Explanation
          description: ''
          example: ''
        attested.caqh|medicare.excluded.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|sanctions.investigation:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Sanctions.Investigation
          description: Practitioners attestation of whether they are undergoing a health system investigation.
          example: false
        attested.caqh|sanctions.investigation.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Sanctions.Investigation.Explanation
          description: ''
          example: ''
        attested.caqh|sanctions.investigation.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|sanctions.npdb:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Sanctions.Npdb
          description: Practitioners attestation of whether or not they have sanctions present on their NPDB report.
          example: false
        attested.caqh|sanctions.npdb.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Sanctions.Npdb.Explanation
          description: ''
          example: ''
        attested.caqh|sanctions.npdb.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|sanctions.sanctioned:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Sanctions.Sanctioned
          description: Practitioners attestation of whether or not they are being investigated by a federal agency.
          example: false
        attested.caqh|sanctions.sanctioned.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Sanctions.Sanctioned.Explanation
          description: ''
          example: ''
        attested.caqh|sanctions.sanctioned.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|sanctions.misconduct:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Sanctions.Misconduct
          description: Practitioners attestation of whether or not they have pled guilty to misconduct.
          example: false
        attested.caqh|sanctions.misconduct.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Sanctions.Misconduct.Explanation
          description: ''
          example: ''
        attested.caqh|sanctions.misconduct.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|sanctions.military:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Sanctions.Military
          description: Practitioners attestation of whether or not they have been sanctioned by a military hospital.
          example: false
        attested.caqh|sanctions.military.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Sanctions.Military.Explanation
          description: ''
          example: ''
        attested.caqh|sanctions.military.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|liability.canceled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Liability.Canceled
          description: Practitioners attestation of whether their professional liability coverage has ever been cancelled.
          example: false
        attested.caqh|liability.canceled.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Liability.Canceled.Explanation
          description: ''
          example: ''
        attested.caqh|liability.canceled.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|liability.surcharge:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Liability.Surcharge
          description: Practitioners attestation of whether they have been assessed a surcharge for their professional liability.
          example: false
        attested.caqh|liability.surcharge.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Liability.Surcharge.Explanation
          description: ''
          example: ''
        attested.caqh|liability.surcharge.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|malpractice.actions:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Malpractice.Actions
          description: Practitioners attestation of whether they have had professional liability actions within the last 10 years.
          example: false
        attested.caqh|malpractice.actions.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Malpractice.Actions.Explanation
          description: ''
          example: ''
        attested.caqh|malpractice.actions.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|criminal.felony:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Criminal.Felony
          description: Practitioners attestation of whether they have pled guilty to a felony.
          example: false
        attested.caqh|criminal.felony.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Criminal.Felony.Explanation
          description: ''
          example: ''
        attested.caqh|criminal.felony.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|criminal.misdemeanor:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Criminal.Misdemeanor
          description: Practitioners attestation of whether they have pled guilty to a misdemeanor.
          example: false
        attested.caqh|criminal.misdemeanor.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Criminal.Misdemeanor.Explanation
          description: ''
          example: ''
        attested.caqh|criminal.misdemeanor.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|criminal.court-martial:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Criminal.Court-Martial
          description: Practitioners attestation of whether they have been court martialled.
          example: false
        attested.caqh|criminal.court-martial.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Criminal.Court-Martial.Explanation
          description: ''
          example: ''
        attested.caqh|criminal.court-martial.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|ability.drugs:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Ability.Drugs
          description: Practitioners attestation of whether they are currently engaged in the illegal use of drugs.
          example: false
        attested.caqh|ability.drugs.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Ability.Drugs.Explanation
          description: ''
          example: ''
        attested.caqh|ability.drugs.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|ability.chemicals:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Ability.Chemicals
          description: Practitioners attestation to the use of chemical substance.
          example: false
        attested.caqh|ability.chemicals.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Ability.Chemicals.Explanation
          description: ''
          example: ''
        attested.caqh|ability.chemicals.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|ability.risk:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Ability.Risk
          description: Practitioners attestation of whether they believe they would pose a risk to the safety of a patient.
          example: false
        attested.caqh|ability.risk.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Ability.Risk.Explanation
          description: ''
          example: ''
        attested.caqh|ability.risk.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|ability.unable:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Ability.Unable
          description: Practitioners attestation of whether they are able to perform the essential functions of a practitioner
          example: false
        attested.caqh|ability.unable.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Ability.Unable.Explanation
          description: ''
          example: ''
        attested.caqh|ability.unable.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|military.military:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Military.Military
          description: Practitioners attestation of whether they are currently on active duty in the military or military reserve.
          example: ''
        attested.caqh|military.military.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Military.Military.Explanation
          description: ''
          example: ''
        attested.caqh|military.military.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
        attested.caqh|military.former:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Caqh|Military.Former
          description: Practitioners attestation of whether they have left active military service within the last five years.
          example: ''
        attested.caqh|military.former.explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Caqh|Military.Former.Explanation
          description: ''
          example: ''
        attested.caqh|military.former.document:
          anyOf:
          - $ref: '#/components/schemas/Document'
          - type: 'null'
          description: ''
          example: ''
      type: object
      title: Disclosures
    LifeSupportSchema:
      properties:
        aha_ecard:
          type: string
          title: Aha Ecard
      type: object
      required:
      - aha_ecard
      title: LifeSupportSchema
    AttestedReq:
      properties:
        profile:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Profile
        documents:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Documents
        questions:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Questions
        docusign_details:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Docusign Details
        aha_certification:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Aha Certification
        optional_documents:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Optional Documents
        other_certifications:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Other Certifications
      type: object
      title: AttestedReq
    InvitationStatus:
      type: string
      enum:
      - invitation_sent
      - invite_bounced
      - invite_canceled
      - in_process
      - application_submitted
      - account_shared
      - account_created
      - invite_bounced
      - reminder_sent
      - delegate_removed
      - delegate_revoked
      - delegate_granted
      - delegate_login
      - external_delegate_login
      title: InvitationStatus
      description: 'Invitation status based on provider events.

        '
    Response_ShareData_:
      properties:
        success:
          type: boolean
          title: Success
          default: true
        data:
          anyOf:
          - $ref: '#/components/schemas/ShareData'
          - type: 'null'
      type: object
      title: Response[ShareData]
    DegreeLevelEnum:
      type: string
      enum:
      - graduate
      - undergraduate
      title: DegreeLevelEnum
    AddressSchema:
      properties:
        line_1:
          type: string
          title: Line 1
          example: 123 Main St
        line_2:
          anyOf:
          - type: string
          - type: 'null'
          title: Line 2
          default: ''
          example: Suite 2
        city:
          type: string
          title: City
          example: Mesa
        state:
          type: string
          title: State
          example: AZ
        zip:
          type: string
          title: Zip
          example: '85201'
        zip4:
          anyOf:
          - type: string
          - type: 'null'
          title: Zip4
          default: ''
          example: '1234'
      type: object
      required:
      - line_1
      - city
      - state
      - zip
      title: AddressSchema
    AttestedMetaData:
      properties:
        continuity_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Continuity Id
          description: An ID that stays constant for the same credential even as its data changes.
          example: state_medical_board_of_maryland:d93012
        values_hash:
          anyOf:
          - type: string
          - type: 'null'
          title: Values Hash
          description: A hash of the values in the attested data. This is used to detect changes to the data.
      type: object
      title: AttestedMetaData
    Education:
      properties:
        verified.cfmg.initial_year:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Cfmg.Initial Year
          description: The Educational Commission for Foreign Medical Graduates (ECFMG) graduation year
        verified.ecfmg.number:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Ecfmg.Number
          description: The Educational Commission for Foreign Medical Graduates (ECFMG) number
        verified.ecfmg.issue_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Ecfmg.Issue Date
          description: The Educational Commission for Foreign Medical Graduates (ECFMG) certificate issue date
          example: '2010-10-14'
        verified.education.country:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Education.Country
          description: The country of the educational institution as verified by a primary source
          example: Dominican Republic
        verified.education.foreign:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Verified.Education.Foreign
          description: Whether the education was verified by a foreign medical graduate certification source (e.g. ECFMG)
          example: true
        verified.university_transcript.year:
          anyOf:
          - type: integer
          - type: 'null'
          title: Verified.University Transcript.Year
          description: The graduation year as verified by a primary source
          example: 2004
        verified.university_transcript.name:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.University Transcript.Name
          description: The name of the graduate school as verified by a primary source
          example: University of State College of Medicine
        verified.university_transcript.degree:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.University Transcript.Degree
          description: The medical school degree as verified by the primary source
          example: MD
        verified.university_transcript.complete:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Verified.University Transcript.Complete
          description: Wether or not the degree has been completed as verified by the primary source
          example: true
        verified.university_transcript.artifact:
          anyOf:
          - type: string
            maxLength: 2083
            minLength: 1
            format: uri
            title: Axuall Credential Artifact
            description: Expiring link to download evidence for a credential
            example: https://axuall-primary-source-artifacts.s3.amazonaws.com/s3%3A//axuall-primary-source-artifacts/2022-12-07/2d4bd584-3a08-436e-85e2-bf0491d16061.pdf?...
          - type: 'null'
          title: Verified.University Transcript.Artifact
          description: Axuall University Transcript Proof artifact. This is usually an image of the masterfile pulled from AMA, or AOIA
        verified.university_transcript.meta:
          anyOf:
          - $ref: '#/components/schemas/MetaData'
          - type: 'null'
          description: The verified university transcript meta data information
        attested.nsc.code:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Nsc.Code
          description: The National Student Clearinghouse (NSC) code as attested to by the practitioner
          example: ''
        verified.nsc.city:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.City
          description: The National Student Clearinghouse (NSC) city
          example: Pittsburgh
        verified.nsc.state:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.State
          description: The National Student Clearinghouse (NSC) state
          example: PA
        attested.university_transcript.graduation_month:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.University Transcript.Graduation Month
          description: The graduation month as attested to by the practitioner
          example: '03'
        attested.education.institution:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Institution
          description: The university institution as attested to by the practitioner
          example: University State College of Medicine
        attested.education.facility_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Facility Code
          description: The unviersity institution facility code as attested to by the practitioner
          example: ''
        attested.education.graduation_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Graduation Date
          description: The university graduation date as attested to by the practitioner
          example: 03/2005
        attested.education.start_date:
          type: string
          title: Attested.Education.Start Date
          description: The university start date as attested to by the practitioner
          default: ''
          example: 03/2005
        attested.education.start_date_full:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Start Date Full
          description: Full start date (YYYY-MM-DD) of education. The day defaults to the first day of the month when it is not provided.
          example: '2005-03-01'
        attested.education.end_date_full:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.End Date Full
          description: Full graduation/end date (YYYY-MM-DD) of education, derived from graduation_year/graduation_month/graduation_day. The day defaults to the last day of the month when it is not provided, and to December 31st when only the year is known.
          example: '2005-03-31'
        attested.education.facility_city:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Facility City
          description: City of educational institution as attested to by the practitioner
          example: Cleveland
        attested.education.facility_state:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Facility State
          description: State of educational institution as attested to by the practitioner
          example: Ohio
        attested.education.degree_level:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.Degree Level
          description: Undergraduate or Graduate degree level as attested to by the practitioner
          example: Undergraduate
        attested.education.external_type_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Education.External Type Code
          description: The education type code held by the source system, for records imported from an external system
          example: vMED
        attested.education.foreign_education:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Education.Foreign Education
          description: Is educational institution outside the US or Canada as attested by the practitioner
          example: true
        attested.education.nursing_program:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Attested.Education.Nursing Program
          description: Is educational institution a nursing program as attested by the practitioner
          example: true
        verified.nsc.attendance_start_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Attendance Start Date
          description: The National Student Clearinghouse (NSC) start date as as verified by the primary source
          example: ''
        verified.nsc.attendance_end_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Attendance End Date
          description: The National Student Clearinghouse (NSC) end date as verified by the primary source
          example: ''
        verified.nsc.institution:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Institution
          description: The National Student Clearinghouse (NSC) institution name as verified by the primary source
          example: UNIVERSITY OF CHICAGO
        verified.nsc.degree:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Degree
          description: The National Student Clearinghouse (NSC) degree name as verified by the primary source
          example: DOCTOR OF MEDICINE
        verified.nsc.first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.First Name
          description: The National Student Clearinghouse (NSC) degree recipient's first name as verified by the primary source
          example: Jane
        verified.nsc.last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Last Name
          description: The National Student Clearinghouse (NSC) degree recipient's last name as verified by the primary source
          example: Dough
        verified.nsc.status:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Status
          description: The National Student Clearinghouse (NSC) degree status as verified by the primary source
          example: Degree Awarded
        verified.nsc.award_date:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified.Nsc.Award Date
          description: The National Student Clearinghouse (NSC) degree award date as verified by the primary source
          example: '2002-05-01'
        verified.nsc.artifact:
          anyOf:
          - type: string
            maxLength: 2083
            minLength: 1
            format: uri
            title: Axuall Credential Artifact
            description: Expiring link to download evidence for a credential
            example: https://axuall-primary-source-artifacts.s3.amazonaws.com/s3%3A//axuall-primary-source-artifacts/2022-12-07/2d4bd584-3a08-436e-85e2-bf0491d16061.pdf?...
          - type: 'null'
          title: Verified.Nsc.Artifact
          description: The National Student Clearinghouse (NSC) artifact from the primary source
        verified.nsc.meta:
          anyOf:
          - $ref: '#/components/schemas/MetaData'
          - type: 'null'
          description: The verified National Student Clearinghouse (NSC) meta data information
        verified_dispute_details:
          anyOf:
          - type: string
          - type: 'null'
          title: Verified Dispute Details
        institution_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Institution Id
          description: Axuall institution UUID for the educational institution
        education.external_institution_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Education.External Institution Code
          description: External institution code from the external system
        external_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: External File Name
          description: Stored custom name of document as defined by the subscriber group
        attested.education.meta:
          anyOf:
          - $ref: '#/components/schemas/AttestedMetaData'
          - type: 'null'
          description: The attested education meta data information
        readable_file_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Readable File Name
          description: Client determined file naming convention
      type: object
      title: Education
    StateLicenseSchema-Input:
      properties:
        state:
          type: string
          maxLength: 2
          minLength: 2
          title: State
          example: PA
        license_number:
          type: string
          title: License Number
      type: object
      required:
      - state
      - license_number
      title: StateLicenseSchema
    AssignWorkflowRequestSchema:
      properties:
        dry_run:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Dry Run
          description: Useful for testing purposes. When set to `true`, Axuall will not actually update data.
          default: false
        app_req:
          type: string
          format: uuid
          title: App Req
          description: UUID of app_req
          example: a891a626-7b8e-4728-8731-c0b837916e49
      type: object
      required:
      - app_req
      title: AssignWorkflowRequestSchema
    AttestedRequirementSchema:
      properties:
        attested_reqs:
          anyOf:
          - items:
              $ref: '#/components/schemas/AttestedReq'
            type: array
          - type: 'null'
          title: Attested Reqs
          description: attested requirements for each application requirement per given user
          default:
          - {}
          example:
          - aha_certification: true
            documents:
            - resume
            - headshot
            docusign_details:
              template_id: cf0974c4-d209-4fe6-8ce5-d4e236601c18
              template_recipient: '16423863'
            optional_documents:
            - cme-ceu
            - doa
            - dhs
            other_certifications:
            - advanced_cardiac_life_support
            - advanced_life_support_ob
            - advanced_trauma_life_support
            - basic_life_support
            - cpr
            - neonatal_advanced_life_support
            - neonatal_resuscitation_program
            - pediatric_advanced_life_support
            profile:
            - basic_info
            - education
            - address
            - work_history
            - university_transcript
            - dea
            - board_cert
            - axuall-signature
            - malpractice
            - professional_history
            - other_certifications
            questions:
            - caqh|licensure.revoked
            - caqh|licensure.challenged
            - caqh|privileges.revoked
            - caqh|privileges.surrendered
            - caqh|privileges.terminated
            - caqh|education.probation
            - caqh|education.withdrawn
            - caqh|education.revoked
            - caqh|education.surrendered
            - caqh|dea.revoked
            - caqh|medicare.excluded
            - caqh|sanctions.investigation
            - caqh|sanctions.npdb
            - caqh|sanctions.sanctioned
            - caqh|sanctions.misconduct
            - caqh|sanctions.military
            - caqh|liability.canceled
            - caqh|liability.surcharge
            - caqh|malpractice.actions
            - caqh|criminal.felony
            - caqh|criminal.misdemeanor
            - caqh|criminal.court-martial
            - caqh|ability.drugs
            - caqh|ability.chemicals
            - caqh|ability.risk
            - caqh|ability.unable
            - caqh|military.military
            - caqh|military.former
          - aha_certification: true
            documents:
            - resume
            - headshot
            docusign_details:
              template_id: cf0974c4-d209-4fe6-8ce5-d4e236601c18
              template_recipient: '16423863'
            optional_documents:
            - cme-ceu
            - doa
            - dhs
            other_certifications:
            - advanced_cardiac_life_support
            - advanced_life_support_ob
            - advanced_trauma_life_support
            - basic_life_support
            - cpr
            - neonatal_advanced_life_support
            - neonatal_resuscitation_program
            - pediatric_advanced_life_support
            profile:
            - basic_info
            - education
            - address
            - work_history
            - university_transcript
            - dea
            - board_cert
            - axuall-signature
            - malpractice
            - professional_history
            - other_certifications
            questions:
            - caqh|licensure.revoked
            - caqh|licensure.challenged
            - caqh|privileges.revoked
            - caqh|privileges.surrendered
            - caqh|privileges.terminated
            - caqh|education.probation
            - caqh|education.withdrawn
            - caqh|education.revoked
            - caqh|education.surrendered
            - caqh|dea.revoked
            - caqh|medicare.excluded
            - caqh|sanctions.investigation
            - caqh|sanctions.npdb
            - caqh|sanctions.sanctioned
            - caqh|sanctions.misconduct
            - caqh|sanctions.military
            - caqh|liability.canceled
            - caqh|liability.surcharge
            - caqh|malpractice.actions
            - caqh|criminal.felony
            - caqh|criminal.misdemeanor
            - caqh|criminal.court-martial
            - caqh|ability.drugs
            - caqh|ability.chemicals
            - caqh|ability.risk
            - caqh|ability.unable
            - caqh|military.military
            - caqh|military.former
      type: object
      title: AttestedRequirementSchema
    WorkHistory:
      properties:
        attested.work_history.id:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Work History.Id
          description: The unique identifier for this work history record. Store it to match this record on a later share.
        attested.work_history.name:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Work History.Name
          description: The name of the health system at which the practioner was employed
          example: Johns Hopkins Bayview Medical Center, Inc.
        attested.work_history.department:
          anyOf:
          - type: string
          - type: 'null'
          title: Attested.Work History.Department
          description: The department of the health system in which that the practioner was employed
          example: ''
        attested.work_history.type:
          anyOf:
          - $ref: '#/components/schemas/WorkHistoryType'
          - type: 'null'
          description: Type of employment history record
        attested.work_history.explanation:
          anyOf:
[...]
