openapi: 3.2.0
info:
  title: Axuall Tasks API
  version: 2.144.89
servers:
- url: https://api.axuall.net
tags:
- name: Tasks
paths:
  /v2/task_sets:
    get:
      tags:
      - Tasks
      summary: List Task Sets
      operationId: list_task_sets_v2_task_sets_get
      security:
      - HTTPBearer: []
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page offset
          default: 0
          title: Offset
        description: Page offset
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page limit. Use -1 to disable pagination.
          default: 50
          title: Limit
        description: Page limit. Use -1 to disable pagination.
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Retrieve all available task sets that are available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsSchema_TaskSetSchema_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/tasks:
    get:
      tags:
      - Tasks
      summary: List Tasks
      description: Retrieve all available tasks that are available to assign to providers.
      operationId: List_Tasks_v2_tasks_get
      security:
      - HTTPBearer: []
      parameters:
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page offset
          default: 0
          title: Offset
        description: Page offset
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page limit. Use -1 to disable pagination.
          default: 50
          title: Limit
        description: Page limit. Use -1 to disable pagination.
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Retrieve all available tasks that are available to assign to providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsSchema_SubscriberGroupTaskSchema_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/assigned_tasks:
    get:
      tags:
      - Tasks
      summary: List Assigned Tasks
      description: Retrieve a list of tasks that are assigned to providers.
      operationId: list_assigned_tasks_v2_assigned_tasks_get
      security:
      - HTTPBearer: []
      parameters:
      - name: provider_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 10
            maxLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          examples: '1730051129'
          title: Provider Id
      - name: task_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          examples: 3ae8ff2b-5316-4fb3-95b0-88b15fbf741f
          title: Task Id
      - name: task_status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          examples: todo
          title: Task Status
      - name: min_completed_date
        in: query
        required: false
        schema:
          type: string
          format: date-time
          examples: '2026-09-24T18:57:41.927077Z'
          title: Min Completed Date
      - name: max_completed_date
        in: query
        required: false
        schema:
          type: string
          format: date-time
          examples: '2026-09-25T18:57:41.927110Z'
          title: Max Completed Date
      - name: offset
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page offset
          default: 0
          title: Offset
        description: Page offset
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Page limit. Use -1 to disable pagination.
          default: 50
          title: Limit
        description: Page limit. Use -1 to disable pagination.
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Retrieve a list of tasks that have been assigned to providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResultsSchema_AssignedTaskSchema_'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    TaskSetSchema:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          example: 1ae8ff2b-5316-4fb3-95b0-88b15fbf741f
        name:
          type: string
          title: Name
          example: Cardiology Tasks
        tasks:
          items:
            $ref: '#/components/schemas/RelatedTaskSchema'
          type: array
          title: Tasks
      type: object
      required:
      - id
      - name
      - tasks
      title: TaskSetSchema
    PaginatedResultsSchema_SubscriberGroupTaskSchema_:
      properties:
        total_results:
          type: integer
          title: Total Results
          description: The total number of records available
        results:
          items:
            $ref: '#/components/schemas/SubscriberGroupTaskSchema'
          type: array
          title: Results
          description: The list of records returned by the search criteria
      type: object
      required:
      - total_results
      - results
      title: PaginatedResultsSchema[SubscriberGroupTaskSchema]
    AssignedTaskSchema:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          example: 4ae8ff2b-5316-4fb3-95b0-88b15fbf741f
        provider_id:
          anyOf:
          - type: string
            title: National Council of State Boards of Nursing
            description: National Council of State Boards of Nursing ID
            example: '12345678'
          - type: string
            maxLength: 10
            minLength: 10
            title: National Provider Identifier
            description: National Provider Identifier
            example: '1234567890'
          title: Provider Id
          example: '1234567890'
        task_id:
          type: string
          format: uuid
          title: Task Id
          example: 4ae8ff2b-5316-4fb3-95b0-88b15fbf741f
        task_name:
          type: string
          title: Task Name
          description: The name of the task
          example: Initial Appointment
        task_status:
          type: string
          title: Task Status
          description: The status of the assigned task
          example: todo
        required_for_share:
          type: boolean
          title: Required For Share
          description: An indication if this task required for the clinican to complete their share
          example: false
        assigned:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Assigned
        completed:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Completed
      type: object
      required:
      - id
      - provider_id
      - task_id
      - task_name
      - task_status
      - required_for_share
      - assigned
      - completed
      title: AssignedTaskSchema
    RelatedTaskSchema:
      properties:
        task_id:
          type: string
          format: uuid
          title: Task Id
          example: 3ae8ff2b-5316-4fb3-95b0-88b15fbf741f
        task_name:
          type: string
          title: Task Name
          example: Initial Appointment
      type: object
      required:
      - task_id
      - task_name
      title: RelatedTaskSchema
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    PaginatedResultsSchema_TaskSetSchema_:
      properties:
        total_results:
          type: integer
          title: Total Results
          description: The total number of records available
        results:
          items:
            $ref: '#/components/schemas/TaskSetSchema'
          type: array
          title: Results
          description: The list of records returned by the search criteria
      type: object
      required:
      - total_results
      - results
      title: PaginatedResultsSchema[TaskSetSchema]
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PaginatedResultsSchema_AssignedTaskSchema_:
      properties:
        total_results:
          type: integer
          title: Total Results
          description: The total number of records available
        results:
          items:
            $ref: '#/components/schemas/AssignedTaskSchema'
          type: array
          title: Results
          description: The list of records returned by the search criteria
      type: object
      required:
      - total_results
      - results
      title: PaginatedResultsSchema[AssignedTaskSchema]
    SubscriberGroupTaskSchema:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          example: 3ae8ff2b-5316-4fb3-95b0-88b15fbf741f
        name:
          type: string
          title: Name
          description: Name of the task
          example: Initial Appoinment
        description:
          type: string
          title: Description
          description: A description of the subscriber group task
          example: Additional information for physicians
        task_type:
          $ref: '#/components/schemas/TaskType'
          description: This is the type of task (document or question)
          example: question
        active:
          type: boolean
          title: Active
          description: An indication if this task is still a task that is available to be assigned to the clinician
          example: true
        provider_task_name:
          type: string
          title: Provider Task Name
          description: The clinician facing task name
          example: Direct Deposit
        config:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Config
          description: Task configuration including wallet_location
      type: object
      required:
      - id
      - name
      - description
      - task_type
      - active
      - provider_task_name
      title: SubscriberGroupTaskSchema
    GenericErrorSchema:
      properties:
        detail:
          type: string
          title: Detail
          example: The request could not be completed because...
      type: object
      required:
      - detail
      title: GenericErrorSchema
    TaskType:
      type: string
      enum:
      - enroll
      - work_history
      - question
      - document
      - signature
      - privileging
      title: TaskType
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
