openapi: 3.2.0
info:
  title: Axuall Documents API
  version: 2.144.89
servers:
- url: https://api.axuall.net
tags:
- name: Documents
paths:
  /v2/documents/{npi}/{type}:
    get:
      tags:
      - Documents
      summary: Get Document Artifact
      description: 'Stream a generated document artifact (case logs, claims-based affiliations summary, etc.)

        for a given provider. The response format (PDF or XLSX) is determined by the Accept header.'
      operationId: get_document_artifact_v2_documents__npi___type__get
      security:
      - HTTPBearer: []
      parameters:
      - name: npi
        in: path
        required: true
        schema:
          type: string
          minLength: 10
          maxLength: 10
          title: Npi
          description: National Provider Identifier
          example: '1234567890'
      - name: type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/DocumentType'
      - name: Accept
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Accept
      - name: x-axuall-actor
        in: header
        required: true
        schema:
          type: string
          format: uuid
          examples:
          - af12b4d1-6895-4f39-8215-71653a7cd4ca
          title: X-Axuall-Actor
      responses:
        '200':
          description: Get a generated document artifact
          content:
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: {}
            application/pdf: {}
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '418':
          description: Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericErrorSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    DocumentType:
      type: string
      enum:
      - case_log_all
      - case_log_encounters
      - case_log_procedures
      - case_log_all_12m
      - case_log_encounters_12m
      - case_log_procedures_12m
      - professional_history_affiliations_profile
      title: DocumentType
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    GenericErrorSchema:
      properties:
        detail:
          type: string
          title: Detail
          example: The request could not be completed because...
      type: object
      required:
      - detail
      title: GenericErrorSchema
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
