{"openapi":"3.1.0","info":{"title":"Axuall API","version":"2.144.89"},"servers":[{"url":"https://api.axuall.net"}],"paths":{"/v2/current_actor":{"get":{"tags":["Actor"],"summary":"Get Current Actor","description":"Retrieve the current actor information for the authenticated user.\nReturns wallet owner information and indicates if the user is accessing as a delegate.\n\nExternal delegates who have not yet selected a clinician (no holder ``person_actor``)\nstill resolve: ``get_actors_for_delegation`` returns their own ``Role.delegate`` Actor\nas both wallet and delegate, so ``id`` is the delegate Actor, ``is_delegate`` is true,\nand ``delegate_kind`` is ``\"external\"`` until ``link-delegate`` switches the wallet\nto a clinician holder.","operationId":"get_current_actor_v2_current_actor_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_WalletActor_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v2/email/inbound":{"post":{"tags":["Email"],"summary":"Email Inbound","description":"Receives SNS notifications for inbound outreach emails.\n\nHandles two SNS message types:\n- SubscriptionConfirmation: confirms the SNS subscription with AuthenticateOnUnsubscribe=true\n- Notification: acknowledges receipt of a new inbound email event from S3","operationId":"email_inbound_v2_email_inbound_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object","title":"Response Email Inbound V2 Email Inbound Post"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}}}}},"/v2/verification-emails/inbound":{"post":{"tags":["Email"],"summary":"Verification Email Inbound","description":"Receives SNS notifications for inbound verification emails.\n\nHandles two SNS message types:\n- SubscriptionConfirmation: confirms the SNS subscription with AuthenticateOnUnsubscribe=true\n- Notification: queues the stored email for processing and acknowledges receipt","operationId":"verification_email_inbound_v2_verification_emails_inbound_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"string"},"type":"object","title":"Response Verification Email Inbound V2 Verification Emails Inbound Post"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}}}}},"/v2/agent/chat":{"post":{"tags":["Agent"],"summary":"Send message to agent","description":"Enqueue a StrandsAgent run; response body is task_id only. Poll GET /agent/task/{task_id} for status, conversation_id, and assistant reply.","operationId":"agent_chat_v2_agent_chat_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentChatRequestSchema"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentChatResponseSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/agent/suggest-prompts":{"get":{"tags":["Agent"],"summary":"List suggested prompts for an agent type","description":"Return non-deleted starter prompts with show_in_ux enabled (tool-only prompts excluded).","operationId":"list_agent_suggest_prompts_v2_agent_suggest_prompts_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"agent_type_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Agent type UUID","title":"Agent Type Id"},"description":"Agent type UUID"},{"name":"agent_type_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Agent type name (e.g. explore_clinician_assistant)","title":"Agent Type Name"},"description":"Agent type name (e.g. explore_clinician_assistant)"},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentSuggestPromptsListSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/agent/conversations":{"get":{"tags":["Agent"],"summary":"List agent conversations","description":"List conversations for the current user, subscriber_group, and optional holder.","operationId":"list_agent_conversations_v2_agent_conversations_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"agent_type_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Agent type UUID","title":"Agent Type Id"},"description":"Agent type UUID"},{"name":"agent_type_name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Agent type name (e.g. admin_assistant)","title":"Agent Type Name"},"description":"Agent type name (e.g. admin_assistant)"},{"name":"confirm_holder_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Optional Confirm holder to filter by","title":"Confirm Holder Id"},"description":"Optional Confirm holder to filter by"},{"name":"explore_npi","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":10},{"type":"null"}],"description":"Optional Explore NPI to filter by","title":"Explore Npi"},"description":"Optional Explore NPI to filter by"},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"default":50,"title":"Limit"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"default":0,"title":"Offset"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentConversationsListSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/agent/task/{task_id}":{"get":{"tags":["Agent"],"summary":"Get agent task status","description":"Poll for status and result of an agent chat task.","operationId":"get_agent_task_status_v2_agent_task__task_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","title":"Task Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentTaskStatusSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/agent/conversations/{conversation_id}/messages":{"get":{"tags":["Agent"],"summary":"Get conversation messages","description":"List messages for a conversation (scope-checked).","operationId":"get_agent_conversation_messages_v2_agent_conversations__conversation_id__messages_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"conversation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Conversation Id"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":100,"title":"Limit"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AgentMessageSchema"},"title":"Response Get Agent Conversation Messages V2 Agent Conversations  Conversation Id  Messages Get"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/agent/conversations/{conversation_id}/messages/{message_id}/feedback":{"post":{"tags":["Agent"],"summary":"Record feedback on an assistant message","description":"Thumbs (positive/negative/clear) or copy counter; assistant messages only.","operationId":"post_agent_message_feedback_v2_agent_conversations__conversation_id__messages__message_id__feedback_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"conversation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Conversation Id"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Message Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentMessageFeedbackRequestSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentMessageFeedbackResponseSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/app_req_list":{"get":{"tags":["Recipes"],"summary":"List Application Requirements","description":"Retrieve all available Recipe Configurations that can be included in an invite.","operationId":"list_application_requirements_v2_app_req_list_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successfully fetched app req list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_ApplicationRequirementsSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/auth":{"post":{"tags":["Authentication"],"summary":"Authenticate User","description":"The Axuall API uses Auth0 to authenticate all API clients.\nBefore making subsequent API calls, you will need to retrieve a token using this request.","operationId":"authenticate_user_v2_auth_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"405":{"description":"Method Not Allowed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/sso":{"get":{"tags":["Authentication"],"summary":"Sso Initiation","description":"Retrieve a URI for initiating SSO.","operationId":"sso_initiation_v2_sso_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"sso_application","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"SSO application","default":"clinician_app","title":"Sso Application"},"description":"SSO application"},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_SSOResponse_"}}}},"401":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}},"description":"Unauthorized"},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}},"description":"Not Found"},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"400":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}},"description":"Bad Request"},"403":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}},"description":"Forbidden"},"405":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}},"description":"Method Not Allowed"},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/case_logs/{npi}/{type}":{"get":{"tags":["Case Log Artifact"],"summary":"Get Case Log Artifact","description":"The artifact includes an XLSX file with clinician case logs over the past 2 years.","operationId":"get_case_log_artifact_v2_case_logs__npi___type__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"npi","in":"path","required":true,"schema":{"type":"string","minLength":10,"maxLength":10,"title":"Npi","description":"National Provider Identifier","example":"1234567890"}},{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/CaseLogType"}},{"name":"Accept","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Accept"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Get Axuall Case Log Artifact","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{},"application/pdf":{}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/documents/{npi}/{type}":{"get":{"tags":["Documents"],"summary":"Get Document Artifact","description":"Stream a generated document artifact (case logs, claims-based affiliations summary, etc.)\nfor a given provider. The response format (PDF or XLSX) is determined by the Accept header.","operationId":"get_document_artifact_v2_documents__npi___type__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"npi","in":"path","required":true,"schema":{"type":"string","minLength":10,"maxLength":10,"title":"Npi","description":"National Provider Identifier","example":"1234567890"}},{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/DocumentType"}},{"name":"Accept","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Accept"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Get a generated document artifact","content":{"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{},"application/pdf":{}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/facility_list":{"get":{"tags":["Facilities"],"summary":"List Facilities","description":"Retrieve available facilities where a clinician can be privileged.","operationId":"list_facilities_v2_facility_list_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successfully fetched facilities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_FacilitiesSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/fsmb/artifact":{"get":{"tags":["FSMB Artifact"],"summary":"Get Fsmb Artifact","description":"The FSMB Artifact allows you to download a PDF with FSMB data for the given provider.","operationId":"get_fsmb_artifact_v2_fsmb_artifact_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"npi","in":"query","required":true,"schema":{"type":"string","minLength":10,"maxLength":10,"title":"Npi","description":"National Provider Identifier","example":"1234567890"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Generated FSMB Artifact as PDF","content":{"application/pdf":{}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/invite":{"post":{"tags":["Invite"],"summary":"Create Invite","description":"Creation of an Invite.\n\nThe invite resource is a mechanism to describe the information that\nis being requested from the clinician.\n\nThis can include but is not limited to:\n- Credentials that require verification\n- Attested Information\n- Employment History Requirements\n- Malpractice History Requirements\n- Supplemental Documents\n- Disclosure Questions\n- Delineation of Privilege forms.\n\n### Form Data Expectations\n\nThe data attribute of the form data given to this endpoint is structured like so:\n\n- `subscriber_list`: The list of facilities  where the clinician is to be credentialed.\n  - Type: `array`\n  - Example: `['Test Facility']`\n- `app_req_id`: The application requirements of the subscriptions to be generated.\n  - Type: `string`\n- `npi`: The clinician's NPI number (Required if ncsbn is not provider)\n  - Type: `string`\n  - Example: `'1234567890'`\n- `ncsbn`: The clinician's NCSBN number (Required if npi not provided)\n  - Type: 'string'\n  - Example: `'3214561'`\n\nThis should be ran through `JSON.stringify` and placed into the `data` attribute of the `form`.\n\n> You must supply either NPI or NCSBN in your `data` object.","operationId":"create_invite_v2_invite_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successfully created an invite id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_InviteSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"type":"string","example":"{\"subscriber_list\": [\"********-****-****-****-************\"], \"app_req_id\": \"********-****-****-****-************\", \"npi\": \"1234567890\"}"},"files":{"type":"array","items":{"type":"string","format":"binary"}},"resume":{"type":"array","items":{"type":"string","format":"binary"}}}}}}}}},"/v2/send_invite":{"post":{"tags":["Invite"],"summary":"Send Invite","description":"Send an invitation email to onboard a new clinician to Axuall and share their credentials.\n\nThe information shared is configured based on the invite ID.","operationId":"send_invite_v2_send_invite_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendInviteRequestSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/provider_preview":{"get":{"tags":["Providers","Provider Preview"],"summary":"Provider Preview","description":"Instantly retrieve available information for a clinician.\n\nThis can include qualified name, state licenses, dea licenses, and ABMS board certifications\nfor Physicians.\n\nPlease note this information is subject to availability and not always comprehensive.\n\nOnly NPIs belonging to an individual clinician are supported. Organizational NPIs and\ndeactivated NPIs are rejected with a 400.","operationId":"provider_preview_v2_provider_preview_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"npi","in":"query","required":true,"schema":{"type":"string","description":"The NPI of the practitioner","title":"Npi"},"description":"The NPI of the practitioner"},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"\nSuccessfully retrieved a complete or partial response for the clinician's NPI\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderPreviewSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/provider_prefill":{"get":{"tags":["Providers","Provider Preview"],"summary":"Provider Prefill","operationId":"provider_prefill_v2_provider_prefill_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"query","required":true,"schema":{"type":"string","description":"Provider identifier value","title":"Provider Id"},"description":"Provider identifier value"},{"name":"id_type","in":"query","required":true,"schema":{"$ref":"#/components/schemas/ProviderPrefillIdType","description":"Identifier type"},"description":"Identifier type"},{"name":"include_facilities","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Facilities"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Invite prefill payload from existing clinician or NPPES fallback","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderPrefillSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers":{"get":{"tags":["Providers"],"summary":"List Providers","description":"List available providers with the ability to search and filter to help find a provider.\n\nProvide as many of the optional query parameters as possible in order to narrow the results.","operationId":"list_providers_v2_providers_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":"Jane Smith","title":"Name"}},{"name":"provider_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"examples":"1730051129","title":"Provider Id"}},{"name":"state_license_number","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":"PA12345","title":"State License Number"}},{"name":"dea_license_number","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":"R12345","title":"Dea License Number"}},{"name":"date_of_birth","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^[0-1][0-9]-[0-3][0-9]-[1-2][0-9]{3}"},{"type":"null"}],"examples":"04-30-1990","title":"Date Of Birth"}},{"name":"provider_type","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":"Osteopathic Physician (DO)","title":"Provider Type"}},{"name":"registration_status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegistrationStatus"},{"type":"null"}],"description":"Registration status of provider","examples":"account_shared","title":"Registration Status"},"description":"Registration status of provider"},{"name":"invitation_status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/InvitationStatus"},{"type":"null"}],"description":"Invitation status of provider","examples":"invitation_sent","title":"Invitation Status"},"description":"Invitation status of provider"},{"name":"id_verified","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/IDVerifiedStatus"},{"type":"null"}],"description":"The status of ID Verification of the provider","examples":"complete","title":"Id Verified"},"description":"The status of ID Verification of the provider"},{"name":"app_req_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"UUID of app_req_id of provider","examples":"f472da53-adee-4e5f-b59d-b2a51b63859a","title":"App Req Id"},"description":"UUID of app_req_id of provider"},{"name":"app_req_status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/AppReqStatus"},{"type":"null"}],"description":"The status of app_reqs to be returned/filtered. If None, returns app reqs with all statuses.","examples":"active","title":"App Req Status"},"description":"The status of app_reqs to be returned/filtered. If None, returns app reqs with all statuses."},{"name":"min_last_wallet_shared","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Min timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber.","examples":"2026-09-24T18:57:41.591510Z","title":"Min Last Wallet Shared"},"description":"Min timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber."},{"name":"max_last_wallet_shared","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Max timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber.","examples":"2026-09-25T18:57:41.591542Z","title":"Max Last Wallet Shared"},"description":"Max timestamp, in UTC, of the last time a provider manually shared their wallet to a subscriber."},{"name":"min_last_share_refresh","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Min timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import.","examples":"2026-09-24T18:57:41.591565Z","title":"Min Last Share Refresh"},"description":"Min timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import."},{"name":"max_last_share_refresh","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Max timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import.","examples":"2026-09-25T18:57:41.591588Z","title":"Max Last Share Refresh"},"description":"Max timestamp, in UTC, of when all verification jobs were completed after  a clinician shares. This timestamp indicates when a clinician is ready for import."},{"name":"min_last_task_completed_at","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Min timestamp, in UTC, of the last time a provider's task was completed.","examples":"2026-09-24T18:57:41.591610Z","title":"Min Last Task Completed At"},"description":"Min timestamp, in UTC, of the last time a provider's task was completed."},{"name":"max_last_task_completed_at","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Max timestamp, in UTC, of the last time a provider's task was completed.","examples":"2026-09-25T18:57:41.591632Z","title":"Max Last Task Completed At"},"description":"Max timestamp, in UTC, of the last time a provider's task was completed."},{"name":"min_last_updated","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Min timestamp, in UTC, of the last time a provider's credentials were updated.","examples":"2026-09-24T18:57:41.591654Z","title":"Min Last Updated"},"description":"Min timestamp, in UTC, of the last time a provider's credentials were updated."},{"name":"max_last_updated","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Max timestamp, in UTC, of the last time a provider's credentials were updated.","examples":"2026-09-25T18:57:41.591676Z","title":"Max Last Updated"},"description":"Max timestamp, in UTC, of the last time a provider's credentials were updated."},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page offset","default":0,"title":"Offset"},"description":"Page offset"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page limit. Use -1 to disable pagination.","default":50,"title":"Limit"},"description":"Page limit. Use -1 to disable pagination."},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successfully retrieved a list of possible matches based on query parameters.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProviderSearchResult"},"title":"Response List Providers V2 Providers Get"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Providers"],"summary":"Register Provider","description":"Register a new provider with Axuall.\nIf kicked off in un-engaged mode, this will trigger all possible verifications\nbased on the supplied information and the chosen recipe.\n\nEither a NPI or NCSBN is required.","operationId":"register_provider_v2_providers_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderRegistrationRequestSchema"}}}},"responses":{"200":{"description":"Instantiation request received.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_ProviderRegistrationMessage_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}":{"get":{"tags":["Providers"],"summary":"Get Provider","description":"Provides identifying information for a provider","operationId":"get_provider_v2_providers__provider_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Provider's profile information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderProfile"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/files":{"get":{"tags":["Providers"],"summary":"List Provider Files","description":"Returns all accessible files for a provider which can be downloaded.\n\nAll links expire after 30 minutes","operationId":"list_provider_files_v2_providers__provider_id__files_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProviderFile"},"title":"Response List Provider Files V2 Providers  Provider Id  Files Get"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/verified_share":{"get":{"tags":["Providers"],"summary":"Get Provider Verified Share","description":"The Verified Profile endpoint allows for retrieval of the latest verified data for a\nspecific provider that has granted your organization access.\n\nQuery Parameters:\n    format: Optional output format. Supported values:\n        - credential_stream: Apply field transformations and institution mappings\n        - (none): Return data without transformations","operationId":"get_provider_verified_share_v2_providers__provider_id__verified_share_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"format","in":"query","required":false,"schema":{"type":"string","description":"Output format (credential_stream)","title":"Format"},"description":"Output format (credential_stream)"},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_ShareData_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/changes":{"get":{"tags":["Providers"],"summary":"List Provider Credential Changes","description":"Allows for retrieval of credential changes between two dates for a provider.","operationId":"list_provider_credential_changes_v2_providers__provider_id__changes_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"min_presented_at","in":"query","required":true,"schema":{"type":"string","format":"date","description":"Earliest date (UTC), inclusive, in range to check for changes to credentials.","examples":"2026-09-18","title":"Min Presented At"},"description":"Earliest date (UTC), inclusive, in range to check for changes to credentials."},{"name":"max_presented_at","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Latest date (UTC), inclusive, in range to check for changes to credentials. If blank, then today's date.","examples":"2026-09-25","title":"Max Presented At"},"description":"Latest date (UTC), inclusive, in range to check for changes to credentials. If blank, then today's date."},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Changes"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/assign_task":{"post":{"tags":["Providers"],"summary":"Assign Task","description":"Assigns a task to a provider.","operationId":"assign_task_v2_providers__provider_id__assign_task_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignTaskRequestSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_AssignTaskMessage_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/cancel_task":{"post":{"tags":["Providers"],"summary":"Cancel Task","description":"Cancel an assigned task for a provider.","operationId":"cancel_task_v2_providers__provider_id__cancel_task_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelTaskRequestSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_AssignTaskMessage_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/workflows":{"post":{"tags":["Providers"],"summary":"Assign Workflow","description":"The Assign Workflow endpoint allows for a providers workflow status to be updated.\nUpdating it, changes the status to pending.\n\nWorkflow is the set of requirements for the provider to successfully complete their\ncredentialing needs for a subscriber group.","operationId":"assign_workflow_v2_providers__provider_id__workflows_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignWorkflowRequestSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_AssignWorkflowMessage_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/deactivation":{"post":{"tags":["Providers"],"summary":"Deactivate Clinician","description":"The Deactivate Clinician endpoint takes a provider and marks them as\npending_deactivation for the deactivations workflow","operationId":"deactivate_clinician_v2_providers__provider_id__deactivation_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"202":{"description":"The clinician was set to be deactivated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeactivationSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/attested_reqirements":{"get":{"tags":["Providers"],"summary":"List Attested Requirements","description":"Retrieve all available Attested Requirement Configurations that are configured for a clinician.","operationId":"list_attested_requirements_v2_providers__provider_id__attested_reqirements_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successfully fetched attested req list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_AttestedRequirementSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/providers/{provider_id}/facilities":{"get":{"tags":["Providers"],"summary":"List Provider Facilities","description":"Retrieve available facilities where a clinician can be privileged.","operationId":"list_provider_facilities_v2_providers__provider_id__facilities_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successfully fetched providers facilities","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response_FacilitiesSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Providers"],"summary":"Enroll Provider","description":"Enroll or unenroll a provider to/from facilities based on the provided data.","operationId":"enroll_provider_v2_providers__provider_id__facilities_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"title":"Provider Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityEnrollmentSchema"}}}},"responses":{"202":{"description":"Enrollment Request Accepted","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacilityEnrollmentReponse"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/task_sets":{"get":{"tags":["Tasks"],"summary":"List Task Sets","operationId":"list_task_sets_v2_task_sets_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page offset","default":0,"title":"Offset"},"description":"Page offset"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page limit. Use -1 to disable pagination.","default":50,"title":"Limit"},"description":"Page limit. Use -1 to disable pagination."},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Retrieve all available task sets that are available.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResultsSchema_TaskSetSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/tasks":{"get":{"tags":["Tasks"],"summary":"List Tasks","description":"Retrieve all available tasks that are available to assign to providers.","operationId":"List_Tasks_v2_tasks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page offset","default":0,"title":"Offset"},"description":"Page offset"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page limit. Use -1 to disable pagination.","default":50,"title":"Limit"},"description":"Page limit. Use -1 to disable pagination."},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Retrieve all available tasks that are available to assign to providers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResultsSchema_SubscriberGroupTaskSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/assigned_tasks":{"get":{"tags":["Tasks"],"summary":"List Assigned Tasks","description":"Retrieve a list of tasks that are assigned to providers.","operationId":"list_assigned_tasks_v2_assigned_tasks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"provider_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":10,"maxLength":10,"title":"National Provider Identifier","description":"National Provider Identifier","example":"1234567890"},{"type":"string","title":"National Council of State Boards of Nursing","description":"National Council of State Boards of Nursing ID","example":"12345678"}],"examples":"1730051129","title":"Provider Id"}},{"name":"task_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"examples":"3ae8ff2b-5316-4fb3-95b0-88b15fbf741f","title":"Task Id"}},{"name":"task_status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":"todo","title":"Task Status"}},{"name":"min_completed_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","examples":"2026-09-24T18:57:41.927077Z","title":"Min Completed Date"}},{"name":"max_completed_date","in":"query","required":false,"schema":{"type":"string","format":"date-time","examples":"2026-09-25T18:57:41.927110Z","title":"Max Completed Date"}},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page offset","default":0,"title":"Offset"},"description":"Page offset"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page limit. Use -1 to disable pagination.","default":50,"title":"Limit"},"description":"Page limit. Use -1 to disable pagination."},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Retrieve a list of tasks that have been assigned to providers.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaginatedResultsSchema_AssignedTaskSchema_"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/monitoring/dimensions":{"get":{"tags":["Monitoring reports"],"summary":"List Dimensions","description":"List all available dimensions for the monitoring reports.","operationId":"list_dimensions_v2_monitoring_dimensions_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"type":"string"},"type":"array","title":"Response List Dimensions V2 Monitoring Dimensions Get"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v2/monitoring/dimensions/credential":{"get":{"tags":["Monitoring reports"],"summary":"Get Credential Dimension","description":"Return credential dimensions as `{id, name, category}` for grouped multi-select.","operationId":"get_credential_dimension_v2_monitoring_dimensions_credential_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/CredentialDimensionOption"},"type":"array","title":"Response Get Credential Dimension V2 Monitoring Dimensions Credential Get"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v2/monitoring/dimensions/{dimension_name}":{"get":{"tags":["Monitoring reports"],"summary":"Get Dimension","description":"Get a specific dimension value for the monitoring reports.\n\n`credential` returns `{id, name, category}` objects.\n`degree` returns a sorted list of degree strings.","operationId":"get_dimension_v2_monitoring_dimensions__dimension_name__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"dimension_name","in":"path","required":true,"schema":{"type":"string","title":"Dimension Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/monitoring/findings":{"get":{"tags":["Monitoring reports"],"summary":"List Findings","description":"List clinician verification findings for the Axuall monitoring product.","operationId":"list_findings_v2_monitoring_findings_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"verification_name","in":"query","required":false,"schema":{"type":"string","description":"Deprecated. Use `credential`. The name of the source verification.","deprecated":true,"title":"Verification Name"},"description":"Deprecated. Use `credential`. The name of the source verification.","deprecated":true},{"name":"q","in":"query","required":false,"schema":{"type":"string","description":"Search text to filter the results.","title":"Q"},"description":"Search text to filter the results."},{"name":"min_reported_at","in":"query","required":false,"schema":{"type":"string","format":"date","description":"The minimum Date Detected (Axuall recorded-at), in UTC, to filter the results.","title":"Min Reported At"},"description":"The minimum Date Detected (Axuall recorded-at), in UTC, to filter the results."},{"name":"max_reported_at","in":"query","required":false,"schema":{"type":"string","format":"date","description":"The maximum Date Detected (Axuall recorded-at), in UTC, to filter the results.","title":"Max Reported At"},"description":"The maximum Date Detected (Axuall recorded-at), in UTC, to filter the results."},{"name":"min_activation_date","in":"query","required":false,"schema":{"type":"string","format":"date","description":"The minimum Reported Date (primary-source activation date) to filter the results.","title":"Min Activation Date"},"description":"The minimum Reported Date (primary-source activation date) to filter the results."},{"name":"max_activation_date","in":"query","required":false,"schema":{"type":"string","format":"date","description":"The maximum Reported Date (primary-source activation date) to filter the results.","title":"Max Activation Date"},"description":"The maximum Reported Date (primary-source activation date) to filter the results."},{"name":"most_current","in":"query","required":false,"schema":{"type":"boolean","description":"Whether the finding relates to the most current credential in Axuall","title":"Most Current"},"description":"Whether the finding relates to the most current credential in Axuall"},{"name":"credential_ids","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated leftover credential dimension IDs, unioned with `credential_categories`.","title":"Credential Ids"},"description":"Comma-separated leftover credential dimension IDs, unioned with `credential_categories`."},{"name":"credential_categories","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated credential category names. Expanded to every matching credential dimension ID and unioned with leftover `credential_ids`.","title":"Credential Categories"},"description":"Comma-separated credential category names. Expanded to every matching credential dimension ID and unioned with leftover `credential_ids`."},{"name":"sort","in":"query","required":false,"schema":{"type":"string","description":"\n                A comma separated list of the desired sort order of the results.\n\n                For descending order, prefix the field with a minus sign (-).\n\n                Accepted values are:\n                activation_date, credential, degree, full_name, next_revalidation_at, provider_id, reported_at, verification_name\n            ","title":"Sort"},"description":"\n                A comma separated list of the desired sort order of the results.\n\n                For descending order, prefix the field with a minus sign (-).\n\n                Accepted values are:\n                activation_date, credential, degree, full_name, next_revalidation_at, provider_id, reported_at, verification_name\n            "},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page offset","default":0,"title":"Offset"},"description":"Page offset"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page limit. Use -1 to disable pagination.","default":50,"title":"Limit"},"description":"Page limit. Use -1 to disable pagination."},{"name":"credential","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Comma-separated credential dimension names.","title":"Credential"},"description":"Comma-separated credential dimension names."},{"name":"degree","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Degree"}},{"name":"facility_ids","in":"query","required":false,"schema":{"type":"string","description":"Comma separated list of facility IDs.","title":"Facility Ids"},"description":"Comma separated list of facility IDs."},{"name":"Accept","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Accept"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"List of adverse findings in xslx supported format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitoringResultSet_Finding_"}},"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/monitoring/expirables":{"get":{"tags":["Monitoring reports"],"summary":"List Expirables","description":"List clinician verification expirables for the Axuall monitoring product.","operationId":"list_expirables_v2_monitoring_expirables_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"verification_name","in":"query","required":false,"schema":{"type":"string","description":"Deprecated. Use `credential`. The name of the source verification.","deprecated":true,"title":"Verification Name"},"description":"Deprecated. Use `credential`. The name of the source verification.","deprecated":true},{"name":"q","in":"query","required":false,"schema":{"type":"string","description":"The search text to filter the results.","title":"Q"},"description":"The search text to filter the results."},{"name":"min_expired_at","in":"query","required":false,"schema":{"type":"string","format":"date","description":"The minimum expiration date, in UTC, to filter the results.","title":"Min Expired At"},"description":"The minimum expiration date, in UTC, to filter the results."},{"name":"max_expired_at","in":"query","required":false,"schema":{"type":"string","format":"date","description":"The maximum expiration date, in UTC, to filter the results.","title":"Max Expired At"},"description":"The maximum expiration date, in UTC, to filter the results."},{"name":"credential_ids","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated leftover credential dimension IDs, unioned with `credential_categories`.","title":"Credential Ids"},"description":"Comma-separated leftover credential dimension IDs, unioned with `credential_categories`."},{"name":"credential_categories","in":"query","required":false,"schema":{"type":"string","description":"Comma-separated credential category names. Expanded to every matching credential dimension ID and unioned with leftover `credential_ids`.","title":"Credential Categories"},"description":"Comma-separated credential category names. Expanded to every matching credential dimension ID and unioned with leftover `credential_ids`."},{"name":"sort","in":"query","required":false,"schema":{"type":"string","description":"\n                A comma separated list of the desired sort order of the results.\n\n                For descending order, prefix the field with a minus sign (-).\n\n                Accepted values are:\n                credential, degree, expiration_date, full_name, last_verified_at, license_number, provider_id, verification_name\n            ","title":"Sort"},"description":"\n                A comma separated list of the desired sort order of the results.\n\n                For descending order, prefix the field with a minus sign (-).\n\n                Accepted values are:\n                credential, degree, expiration_date, full_name, last_verified_at, license_number, provider_id, verification_name\n            "},{"name":"offset","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page offset","default":0,"title":"Offset"},"description":"Page offset"},{"name":"limit","in":"query","required":false,"schema":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Page limit. Use -1 to disable pagination.","default":50,"title":"Limit"},"description":"Page limit. Use -1 to disable pagination."},{"name":"credential","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Comma-separated credential dimension names.","title":"Credential"},"description":"Comma-separated credential dimension names."},{"name":"degree","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Degree"}},{"name":"facility_ids","in":"query","required":false,"schema":{"type":"string","description":"Comma separated list of facility IDs.","title":"Facility Ids"},"description":"Comma separated list of facility IDs."},{"name":"Accept","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Accept"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"List of clinician verification expirables in xslx supported format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MonitoringResultSet_Expirable_"}},"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":{}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/address_deduplications":{"post":{"tags":["Address Deduplications"],"summary":"Rank candidate addresses against a target address","description":"Enqueue an address deduplication run; response body is task_id only. Poll GET /address_deduplications/{task_id} for the ranked candidates.","operationId":"create_address_deduplication_v2_address_deduplications_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDeduplicationRequestSchema"}}}},"responses":{"202":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDeduplicationTaskSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v2/address_deduplications/{task_id}":{"get":{"tags":["Address Deduplications"],"summary":"Get address deduplication status and result","description":"Report the state of a run and, once it completes, the ranked candidates. Waits a few seconds for a pending run, then returns 202 so the caller can re-poll.","operationId":"get_address_deduplication_v2_address_deduplications__task_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","title":"Task Id"}},{"name":"x-axuall-actor","in":"header","required":true,"schema":{"type":"string","format":"uuid","examples":["af12b4d1-6895-4f39-8215-71653a7cd4ca"],"title":"X-Axuall-Actor"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDeduplicationStatusSchema"}}}},"401":{"description":"Not authenticated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"418":{"description":"Insufficient permissions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"404":{"description":"Not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericErrorSchema"}}}},"500":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDeduplicationStatusSchema"}}},"description":"Internal Server Error"},"202":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressDeduplicationStatusSchema"}}},"description":"Accepted"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"ABMSBoardCertSchema":{"properties":{"board":{"type":"string","title":"Board","example":"American Board of Medicine"},"specialty":{"type":"string","title":"Specialty","example":"Internal Medicine"}},"type":"object","required":["board","specialty"],"title":"ABMSBoardCertSchema"},"Access":{"type":"string","enum":["super_user","integrator","admin","owner","recruiter","operations","medical_service_provider","analyst","recruiter_analyst","owner_analyst","operations_analyst","read_only","read_only_analyst","explore_integrator","explore_confirm_integrator","medical_service_provider_analyst","medical_service_provider_delegate","delegate_only","owner_delegate","recruiter_delegate","operations_delegate","owner_analyst_delegate","operations_analyst_delegate","recruiter_analyst_delegate","medical_service_provider_analyst_delegate"],"title":"Access"},"ActorSettings":{"properties":{"referrer":{"anyOf":[{"type":"string","format":"uuid4"},{"type":"null"}],"title":"Referrer","description":"Original referrer of the actor to Axuall"},"id_verification":{"anyOf":[{"$ref":"#/components/schemas/IDVerification"},{"type":"null"}],"description":"ID Verification status for the actor"},"credential_sets":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Credential Sets","description":"Credential sets associated with the actor"}},"type":"object","title":"ActorSettings"},"AddressDeduplicationRequestSchema":{"properties":{"target":{"$ref":"#/components/schemas/app__routes__address_deduplications__AddressSchema","description":"The address the candidates are ranked against"},"candidates":{"items":{"$ref":"#/components/schemas/app__routes__address_deduplications__AddressSchema"},"type":"array","maxItems":5,"minItems":1,"title":"Candidates","description":"Addresses to rank; ids are derived from content, not supplied. At most 5 per request."},"record_type":{"anyOf":[{"$ref":"#/components/schemas/RecordType"},{"type":"null"}],"description":"What these addresses are; omit to send no context to the agent"}},"type":"object","required":["target","candidates"],"title":"AddressDeduplicationRequestSchema","description":"Request body for POST /address_deduplications."},"AddressDeduplicationSchema":{"properties":{"target":{"$ref":"#/components/schemas/AddressSchema-Output"},"candidates":{"items":{"$ref":"#/components/schemas/RankedAddressSchema"},"type":"array","title":"Candidates"}},"type":"object","required":["target","candidates"],"title":"AddressDeduplicationSchema","description":"Completed result: the target and its ranked candidates, in request order."},"AddressDeduplicationStatusSchema":{"properties":{"task_id":{"type":"string","title":"Task Id"},"status":{"$ref":"#/components/schemas/TaskStatus"},"expires":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Expires","description":"Seconds until this task id is forgotten; null once it has no expiry"},"result":{"anyOf":[{"$ref":"#/components/schemas/AddressDeduplicationSchema"},{"type":"null"}],"description":"The ranked candidates; null unless status is complete"}},"type":"object","required":["task_id","status"],"title":"AddressDeduplicationStatusSchema","description":"The state of a dispatched run, with the ranked result once it completes."},"AddressDeduplicationTaskSchema":{"properties":{"task_id":{"type":"string","title":"Task Id"}},"type":"object","required":["task_id"],"title":"AddressDeduplicationTaskSchema","description":"The dispatched task id, for polling GET /address_deduplications/{task_id}."},"AddressSchema":{"properties":{"line_1":{"type":"string","title":"Line 1","example":"123 Main St"},"line_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Line 2","default":"","example":"Suite 2"},"city":{"type":"string","title":"City","example":"Mesa"},"state":{"type":"string","title":"State","example":"AZ"},"zip":{"type":"string","title":"Zip","example":"85201"},"zip4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Zip4","default":"","example":"1234"}},"type":"object","required":["line_1","city","state","zip"],"title":"AddressSchema"},"AddressSchema-Output":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"line1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Line1"},"line2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Line2"},"city":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"City"},"state":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"},"postal_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Postal Code"},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country"}},"type":"object","title":"AddressSchema","description":"A loosely structured postal address. Every field is optional."},"AffiliationSchema":{"properties":{"institution":{"type":"string","title":"Institution","example":"Medical Center of Health"},"id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Id"},"hospital_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Hospital Id"},"work_history_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Work History Id"},"start_date":{"anyOf":[{"type":"string","pattern":"^[0-1][0-9]/[1-2][0-9]{3}$"},{"type":"null"}],"title":"Start Date","example":"12/1999"},"end_date":{"anyOf":[{"type":"string","pattern":"^[0-1][0-9]/[1-2][0-9]{3}$"},{"type":"null"}],"title":"End Date","example":"11/2022"},"address":{"anyOf":[{"$ref":"#/components/schemas/AffiliationsAddress"},{"type":"null"}]},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type","default":"affiliation"}},"type":"object","required":["institution"],"title":"AffiliationSchema"},"AffiliationsAddress":{"properties":{"line_1":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Line 1","default":"","example":"123 Main St"},"line_2":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Line 2","default":"","example":"Suite 2"},"city":{"type":"string","title":"City","example":"Mesa"},"state":{"type":"string","title":"State","example":"AZ"},"zip":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Zip","default":"","example":"85201"},"zip4":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Zip4","default":"","example":"1234"},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country","default":"","example":"United States"}},"type":"object","required":["city","state"],"title":"AffiliationsAddress"},"AgentChatRequestSchema":{"properties":{"agent_type_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Agent Type Id","description":"Agent type UUID; use agent_type_name if not set"},"agent_type_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Agent Type Name","description":"Agent type name (e.g. admin_assistant); use agent_type_id if not set"},"message":{"type":"string","title":"Message","description":"User message text"},"confirm_holder_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Confirm Holder Id","description":"Optional Confirm holder (actor) to scope the conversation"},"explore_npi":{"anyOf":[{"type":"string","maxLength":10},{"type":"null"}],"title":"Explore Npi","description":"Optional Explore NPI to scope the conversation"},"conversation_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Conversation Id","description":"Optional; omit to start new, set to continue thread"},"workforce_intel_saved_job_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Workforce Intel Saved Job Id","description":"Optional Explore saved job row id (workforce_intel_saved_job.id) to scope AskAI job-description tools"},"client_stream_id":{"anyOf":[{"type":"string","maxLength":128},{"type":"null"}],"title":"Client Stream Id","description":"Optional client correlation id for AppSync agent stream events (Explore Ask AI streaming POC)."}},"type":"object","required":["message"],"title":"AgentChatRequestSchema","description":"Request body for POST /agent/chat."},"AgentChatResponseSchema":{"properties":{"task_id":{"type":"string","title":"Task Id","description":"Flow task ID; poll GET /agent/task/{task_id} for conversation_id and assistant reply"}},"type":"object","required":["task_id"],"title":"AgentChatResponseSchema","description":"Response for POST /agent/chat: Flow task id for polling GET /agent/task/{task_id}."},"AgentConversationItemSchema":{"properties":{"id":{"type":"string","title":"Id","description":"Conversation UUID"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Short label from first user message, if set"},"created_at":{"type":"string","title":"Created At","description":"ISO 8601 created timestamp"},"modified_at":{"type":"string","title":"Modified At","description":"ISO 8601 modified timestamp"}},"type":"object","required":["id","created_at","modified_at"],"title":"AgentConversationItemSchema","description":"Single conversation in list response."},"AgentConversationsListSchema":{"properties":{"total":{"type":"integer","title":"Total","description":"Total count for scope"},"conversations":{"items":{"$ref":"#/components/schemas/AgentConversationItemSchema"},"type":"array","title":"Conversations","description":"Page of conversations"}},"type":"object","required":["total","conversations"],"title":"AgentConversationsListSchema","description":"Response for GET /agent/conversations."},"AgentMessageFeedbackRequestSchema":{"properties":{"action":{"type":"string","enum":["rating","copy"],"title":"Action","description":"rating (thumbs) or copy (increment copy counter)"},"value":{"anyOf":[{"type":"string","enum":["positive","negative","clear"]},{"type":"null"}],"title":"Value","description":"Required when action is rating: positive, negative, or clear"}},"type":"object","required":["action"],"title":"AgentMessageFeedbackRequestSchema","description":"Request body for POST .../messages/{message_id}/feedback."},"AgentMessageFeedbackResponseSchema":{"properties":{"feedback_rating":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Feedback Rating","description":"1 positive, -1 negative, null if cleared or not set"},"copy_count":{"type":"integer","title":"Copy Count","description":"Total copy events recorded for this message"}},"type":"object","required":["copy_count"],"title":"AgentMessageFeedbackResponseSchema","description":"Response after recording message feedback."},
[...]
